# TiMOS-C-25.10.R1 cpm/x86_64 Nokia 7750 SR Copyright (c) 2000-2025 Nokia.
# All rights reserved. All use subject to applicable license agreements.
# Built on Thu Oct 30 21:18:22 UTC 2025 by builder in /builds/2510B/R1/panos
# Configuration format version 25.10 revision 0

# Generated 2026-02-10T16:52:55.4Z by system from Console
# Commit ID 6
#   Committed 2026-02-10T16:52:55.1Z by admin (MD-CLI) from 172.23.20.1

configure {
    card 1 {
        card-type xcm-2se
        xiom "x1" {
            xiom-type x2-s36-400g-qsfp112-3.0t
            mda 1 {
                mda-type m36-400g-qsfp112
            }
        }
    }
    chassis router chassis-number 1 {
        power-shelf 1 {
            power-shelf-type ps-a4-shelf-dc
            power-module 1 {
                power-module-type ps-a-dc-6000
            }
            power-module 2 {
                power-module-type ps-a-dc-6000
            }
        }
    }
    log {
        filter "1001" {
            named-entry "10" {
                description "Collect only events of major severity or higher"
                action forward
                match {
                    severity {
                        gte major
                    }
                }
            }
        }
        log-id "99" {
            description "Default System Log"
            source {
                main true
            }
            destination {
                memory {
                    max-entries 500
                }
            }
        }
        log-id "100" {
            description "Default Serious Errors Log"
            filter "1001"
            source {
                main true
            }
            destination {
                memory {
                    max-entries 500
                }
            }
        }
    }
    port 1/x1/1/c1 {
        admin-state enable
        connector {
            breakout c1-100g
        }
    }
    port 1/x1/1/c1/1 {
        admin-state enable
    }
    port 1/x1/1/c2 {
        admin-state enable
        connector {
            breakout c1-100g
        }
    }
    port 1/x1/1/c2/1 {
        admin-state enable
    }          
    sfm 1 {
        admin-state enable
        sfm-type sfm-2se
    }
    sfm 2 {
        admin-state enable
        sfm-type sfm-2se
    }
    sfm 3 {
        admin-state enable
        sfm-type sfm-2se
    }
    sfm 4 {
        admin-state enable
        sfm-type sfm-2se
    }
    system {
        name "sr-2se-1-a"
        grpc {
            admin-state enable
            allow-unsecure-connection
            gnmi {
                admin-state enable
                auto-config-save true
            }
            gnoi {
                cert-mgmt {
                    admin-state enable
                }
                file {
                    admin-state enable
                }
                system {
                    admin-state enable
                }
            }
            md-cli {
                admin-state enable
            }
            rib-api {
                admin-state enable
            }
        }
        management-interface {
            netconf {
                auto-config-save true
                listen {
                    admin-state enable
                }
            }
            snmp {
                packet-size 9216
                streaming {
                    admin-state enable
                }
            }
        }
        login-control {
            login-banner true
            pre-login-message {
                message "................................................................\n:                  Welcome to Nokia SR-OS!                     :\n:                                                              :\n:                                                              :\n: YANG:          https://yang.labctl.net/                      :\n: Community:     https://containerlab.dev/community/           :\n: Discord:       https://containerlab.dev/discord/             :\n................................................................\n"
            }
        }
        security {
            aaa {
                local-profiles {
                    profile "administrative" {
                        default-action permit-all
                        entry 10 {
                            match "configure system security"
                            action permit
                        }
                        entry 20 {
                            match "show system security"
                            action permit
                        }
                        entry 30 {
                            match "tools perform security"
                            action permit
                        }
                        entry 40 {
                            match "tools dump security"
                            action permit
                        }
                        entry 42 {
                            match "tools dump system security"
                            action permit
                        }
                        entry 50 {
                            match "admin system security"
                            action permit
                        }
                        entry 100 {
                            match "configure li"
                            action deny
                        }
                        entry 110 {
                            match "show li"
                            action deny
                        }
                        entry 111 {
                            match "clear li"
                            action deny
                        }
                        entry 112 {
                            match "tools dump li"
                            action deny
                        }
                        entry 113 {
                            match "tools perform system security"
                            action permit
                        }
                        grpc {
                            rpc-authorization {
                                gnmi-capabilities permit
                                gnmi-get permit
                                gnmi-set permit
                                gnmi-subscribe permit
                                gnoi-cert-mgmt-rotate permit
                                gnoi-cert-mgmt-install permit
                                gnoi-cert-mgmt-getcert permit
                                gnoi-cert-mgmt-revoke permit
                                gnoi-cert-mgmt-cangenerate permit
                                gnoi-file-get permit
                                gnoi-file-transfertoremote permit
                                gnoi-file-put permit
                                gnoi-file-stat permit
                                gnoi-file-remove permit
                                gnoi-system-ping permit
                                gnoi-system-traceroute permit
                                gnoi-system-time permit
                                gnoi-system-setpackage permit
                                gnoi-system-switchcontrolprocessor permit
                                gnoi-system-reboot permit
                                gnoi-system-rebootstatus permit
                                gnoi-system-cancelreboot permit
                                md-cli-session permit
                                rib-api-getversion permit
                                rib-api-modify permit
                            }
                        }
                        netconf {
                            base-op-authorization {
                                action true
                                cancel-commit true
                                close-session true
                                commit true
                                copy-config true
                                create-subscription true
                                delete-config true
                                discard-changes true
                                edit-config true
                                get true
                                get-config true
                                get-data true
                                get-schema true
                                kill-session true
                                lock true
                                validate true
                            }
                        }
                    }
                    profile "default" {
                        entry 10 {
                            match "exec"
                            action permit
                        }
                        entry 20 {
                            match "exit"
                            action permit
                        }
                        entry 30 {
                            match "help"
                            action permit
                        }
                        entry 40 {
                            match "logout"
                            action permit
                        }
                        entry 50 {
                            match "password"
                            action permit
                        }
                        entry 60 {
                            match "show config"
                            action deny
                        }
                        entry 65 {
                            match "show li"
                            action deny
                        }
                        entry 66 {
                            match "clear li"
                            action deny
                        }
                        entry 67 {
                            match "tools dump li"
                            action deny
                        }
                        entry 68 {
                            match "state li"
                            action deny
                        }
                        entry 70 {
                            match "show"
                            action permit
                        }
                        entry 75 {
                            match "state"
                            action permit
                        }
                        entry 80 {
                            match "enable-admin"
                            action permit
                        }
                        entry 90 {
                            match "enable"
                            action permit
                        }
                        entry 100 {
                            match "configure li"
                            action deny
                        }
                    }
                }
            }
            snmp {
                community "76HzdddhlPpRo1Vql+ZB5spLqccgYQ== hash2" {
                    access-permissions r
                    version v2c
                }
            }
            ssh {
                server-cipher-list-v2 {
                    cipher 190 {
                        name aes256-ctr
                    }
                    cipher 192 {
                        name aes192-ctr
                    }
                    cipher 194 {
                        name aes128-ctr
                    }
                    cipher 200 {
                        name aes128-cbc
                    }
                    cipher 205 {
                        name 3des-cbc
                    }
                    cipher 225 {
                        name aes192-cbc
                    }
                    cipher 230 {
                        name aes256-cbc
                    }
                }
                client-cipher-list-v2 {
                    cipher 190 {
                        name aes256-ctr
                    }
                    cipher 192 {
                        name aes192-ctr
                    }
                    cipher 194 {
                        name aes128-ctr
                    }
                    cipher 200 {
                        name aes128-cbc
                    }
                    cipher 205 {
                        name 3des-cbc
                    }
                    cipher 225 {
                        name aes192-cbc
                    }
                    cipher 230 {
                        name aes256-cbc
                    }
                }
                server-mac-list-v2 {
                    mac 200 {
                        name hmac-sha2-512
                    }
                    mac 210 {
                        name hmac-sha2-256
                    }
                    mac 215 {
                        name hmac-sha1
                    }
                    mac 220 {
                        name hmac-sha1-96
                    }
                    mac 225 {
                        name hmac-md5
                    }
                    mac 240 {
                        name hmac-md5-96
                    }
                }
                client-mac-list-v2 {
                    mac 200 {
                        name hmac-sha2-512
                    }
                    mac 210 {
                        name hmac-sha2-256
                    }
                    mac 215 {
                        name hmac-sha1
                    }
                    mac 220 {
                        name hmac-sha1-96
                    }
                    mac 225 {
                        name hmac-md5
                    }
                    mac 240 {
                        name hmac-md5-96
                    }
                }
            }
            user-params {
                attempts {
                    count 64
                }
                local-user {
                    user "admin" {
                        password "$2y$10$J0xOcUKzsXg4AVlQPjZ4Q.Y/hexgY0On8Hs3qxbQqJIZaMRU0hUC6"
                        restricted-to-home false
                        access {
                            console true
                            netconf true
                            grpc true
                        }
                        console {
                            member ["administrative"]
                        }
                        public-keys {
                            rsa {
                                rsa-key 31 {
                                    key-value "AAAAB3NzaC1yc2EAAAADAQABAAABgQDidrniNEqcSOazYZiR0N487kiSapoHRZ0xgkir7kjagFt+jGmAwVZVY7uEYYjnhjoGtkM04wF+qciVnPlB8tdfZ5kcV75lzguAaFbjCac9qiBcwyt3KLWGJEyDTRM17G0ivcfbl2UYFgG0xCKt8wj29Gu3Jtl9ZNvC260OwrHHQOUyZyj+SNIKPwpmxzm887W5A4CN0irlV8jQCewf4ICG2YxFp/D3jzr2jg0orvqsaOhxpyCDRgrlE3wMoGGEMD/puRquJvbISBM8miiepHuGJ/rd8s80dol2r6OsvwgR6nxQQDcbVlbkXrlGbJAAMY+kggnmSqRjFvDkAI2o4nuebHgk9GUVtp5DblpuywgBRiugtivtH/H90sBMg5qtDS1gDAIn9YCZ/733evPXS8ygJ9DlKtoHYmqKTMhi8SuLnP8UT0wEfkfRt7PqfD4y5kgL3cQ7BGxyQCULV3hUe1/8XYCBsq4yU/qDCRwVxFIna4oiNrj8nKSRa4zXHwPE9qc="
                                }
                                rsa-key 32 {
                                    key-value "AAAAB3NzaC1yc2EAAAADAQABAAACAQCpOLXcSIYnvblPvew3isllEdXnOjLeMW8/Kw7idC5uUUhXa/IX7DV/VIudoC/P6sTIxfpyNBoMCL/p1BdV2kYU0ywgpucp2cZZOdZHbTETArhgl7FdtspaGksrvYrKdeFFc/b8JUElt/3Xxizd1V+Bcmth/5xRDG0ldE93OgdPJsPMGXWXQoFD09WckKn/9EY+iorxOYmiQWmcUtltMbDbNxMcauxhvi3pRo/LkaNFjdr8ZH+wnIbF9+cs9hsFwzMJFAzB7XtwJwmLiPVrBWsNPGnwxcTX63gbK4qnY0mbfZJodAOLYve1iphelr04dNCM3H8ju4qfXBRdPGs4O/8I+/jg0qpalqObzfK/SqLFbu1xt97kDXir1a167zr3gp1SiznE3ScEKWAIgovaTW3lNX0fMsxRtw9W3ymo0VS3hXw10d4qG/pNMHtSaLWxfRI39VBvOVR1OuUUX3t5NpDK04bjlDKU6uKSiDsFRKUnZYy0yBDvJL6A/gSl5lVPi+lobsd5U3zm1M2HeUfE+XBBAsVS9C7uzjgGVohJ2QrSIvl0KaONOwHVcQH6Yky7IjFAud800y71kR3vsg1fTPdZlt0u6CzeiYNwfrDEs2JLrTB3ZDzKvgDX2t6N0vtvQczFcps47ntrqGa09rPXGXTSI+bIHkP+SKeRBjAV+/GJgQ=="
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

persistent-indices {
    description "Persistent indices are maintained by the system and must not be modified."
}

# Finished 2026-02-10T16:52:59.9Z
